In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

import re

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
736,tt1499658,35000000,117000000,Horrible Bosses,Jennifer Aniston|Jason Bateman|Charlie Day|Jas...,Seth Gordon,Ever wish your boss was dead?,"For Nick (Jason Bateman), Kurt (Jason Sudeikis...",98,Comedy|Crime,New Line Cinema|Rat Entertainment,7/8/2011,6.4,2011
1139,tt0322259,76000000,236350661,2 Fast 2 Furious,Paul Walker|Tyrese Gibson|Eva Mendes|Cole Haus...,John Singleton,How Fast Do You Want It?,It's a major double-cross when former police o...,107,Action|Crime|Thriller,Mikona Productions GmbH & Co. KG|Universal Pic...,6/5/2003,6.1,2003
1051,tt0431021,14000000,85446075,The Possession,Jeffrey Dean Morgan|Natasha Calis|Madison Dave...,Ole Bornedal,Fear The Demon That Doesn't Fear God,A young girl buys an antique box at a yard sal...,92,Horror|Thriller,Ghost House Pictures|North Box Productions,8/30/2012,5.8,2012
1384,tt0376108,45000000,16809014,Rebound,Martin Lawrence|Wendy Raquel Robinson|Breckin ...,Steve Carr,A comedy where old school ...meets middle school,An acclaimed college hoops coach is demoted to...,103,Comedy|Family,Twentieth Century Fox Film Corporation|Robert ...,7/1/2005,5.5,2005
1593,tt0337563,37000000,96455697,13 Going On 30,Jennifer Garner|Mark Ruffalo|Judy Greer|Andy S...,Gary Winick,"For some, 13 feels like it was just yesterday....",After total humiliation at her thirteenth birt...,98,Comedy|Fantasy|Romance,Columbia Pictures|Revolution Studios|Thirteen ...,4/13/2004,6.1,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# data[~data.release_date.str.contains('/')]

data.runtime.unique()

data.info()

data['profit'] = data['revenue'] - data['budget']

from datetime import datetime, date, time

def data_to_datetime(x):
    return pd.to_datetime(x)
    

data.release_date = data.release_date.apply(data_to_datetime)


# Функция конвертации dataframe в series для подсчета статистики с помощью функции value_counts()
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

# Форматируем жанры/режисеров/состав в список
def format_iters_to_list(text_in):
    if not type(text_in) == list:
        if "|" in text_in:
            return text_in.split("|")
        else:
            return [text_in]
        
    else:
        return text_in

data['genres'] = data['genres'].apply(format_iters_to_list)

data['director'] = data['director'].apply(format_iters_to_list)

data['cast'] = data['cast'].apply(format_iters_to_list)

data['production_companies'] = data['production_companies'].apply(format_iters_to_list)

# Функция сортировки словаря по ключу (по увеличению)
def dictionairy_sort_by_key(dic): 
    return sorted(dic.items(), key = lambda kv:(kv[1], kv[0]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:

data.query('budget ==' + str(data.budget.max()) )

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [9]:
data.query('runtime ==' + str(data.runtime.max()) )

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [11]:
data.query('runtime ==' + str(data.runtime.min()) )

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '239. Avatar (tt0499549)'

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале


data.query('profit ==' + str(data.profit.max()) )

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [19]:
data.query('profit ==' + str(data.profit.min()) )

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'

In [21]:
data.query('revenue > budget').imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [23]:
max_revenue_2008 = data.query( '(release_year == 2008)').revenue.max()

data.query('revenue ==' + str(max_revenue_2008) )

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [25]:
data_min_revenue_2012_2014 = data.query( '(release_year >= 2012) & (release_year <= 2014)')
data_min_revenue_2012_2014.query('profit == ' + str(data_min_revenue_2012_2014.profit.min()))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

to_1D(data['genres']).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [28]:
genres_dict = {}


for i in data['genres']:
    for j in i:
        if j not in genres_dict:
            genres_dict[j] = 1
        else:
            genres_dict[j] += 1

genres_dict
dictionairy_sort_by_key(genres_dict)

[('Foreign', 2),
 ('Documentary', 8),
 ('Western', 19),
 ('War', 58),
 ('History', 62),
 ('Music', 64),
 ('Animation', 139),
 ('Mystery', 168),
 ('Horror', 176),
 ('Fantasy', 222),
 ('Science Fiction', 248),
 ('Family', 260),
 ('Romance', 308),
 ('Crime', 315),
 ('Adventure', 415),
 ('Action', 582),
 ('Thriller', 596),
 ('Comedy', 683),
 ('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama'

In [30]:
to_1D(data.query('profit > 0')['genres']).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = 'Peter Jackson'

In [32]:
directors_revenue = {}

for index, row in data.iterrows():
    for director_name in row['director']:
        if director_name not in directors_revenue:
            directors_revenue[director_name] = row['revenue']        

        else:
            directors_revenue[director_name] += row['revenue']

directors_revenue

    
tail = dictionairy_sort_by_key(directors_revenue)[-9:]
tail

[('Francis Lawrence', 3179979588),
 ('Ridley Scott', 3264035909),
 ('Steven Spielberg', 3386700791),
 ('Gore Verbinski', 3426362290),
 ('J.J. Abrams', 3579169916),
 ('Michael Bay', 3886938960),
 ('David Yates', 4154295625),
 ('Christopher Nolan', 4167548502),
 ('Peter Jackson', 6490593685)]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez'

In [34]:
directors_actions = {}

for index, row in data.iterrows():
    for director_name in row['director']:
        if ('Action' in row['genres']):
            if (director_name not in directors_actions):
                directors_actions[director_name] = 1    
            else:
                directors_actions[director_name] += 1 
            
directors_actions
dictionairy_sort_by_key(directors_actions)[-9:]

[('Rob Cohen', 5),
 ('Roland Emmerich', 5),
 ('Tony Scott', 5),
 ('Zack Snyder', 5),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth'

In [36]:
data_2012 = data.query('release_year == 2012')

actor_revenue = {}

for index, row in data_2012.iterrows():
    for actor_name in row['cast']:
        if (actor_name not in actor_revenue):
            actor_revenue[actor_name] = row['revenue']    
        else:
            actor_revenue[actor_name] += row['revenue']
            
actor_revenue
dictionairy_sort_by_key(actor_revenue)[-9:]

[('Sacha Baron Cohen', 1368110577),
 ('Ralph Fiennes', 1409561013),
 ('Chris Evans', 1519557910),
 ('Mark Ruffalo', 1519557910),
 ('Robert Downey Jr.', 1519557910),
 ('Scarlett Johansson', 1519557910),
 ('Anne Hathaway', 1522851057),
 ('Denis Leary', 1629460639),
 ('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [37]:
answers['16'] = 'Matt Damon'

In [38]:
most_budget_data = data.query('budget > ' + str(data['budget'].mean()))

actor_frequency = {}

for index, row in most_budget_data.iterrows():
    for actor_name in row['cast']:
        if (actor_name not in actor_frequency):
            actor_frequency[actor_name] = 1    
        else:
            actor_frequency[actor_name] += 1
            
dictionairy_sort_by_key(actor_frequency)[-9:]

[('Jamie Foxx', 14),
 ('Mark Wahlberg', 14),
 ('Russell Crowe', 14),
 ('Eddie Murphy', 15),
 ('Samuel L. Jackson', 15),
 ('Tom Cruise', 15),
 ('Angelina Jolie', 16),
 ('Adam Sandler', 17),
 ('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action'

In [40]:
actor_nikolas_cage_genres = {}

for index, row in data.iterrows():
    if 'Nicolas Cage' in row['cast']:
        for genre in row['genres']:
            if (genre not in actor_nikolas_cage_genres):
                actor_nikolas_cage_genres[genre] = 1    
            else:
                actor_nikolas_cage_genres[genre] += 1
            
dictionairy_sort_by_key(actor_nikolas_cage_genres)[-9:]

[('Mystery', 3),
 ('Science Fiction', 4),
 ('Comedy', 6),
 ('Adventure', 7),
 ('Fantasy', 8),
 ('Crime', 10),
 ('Drama', 12),
 ('Thriller', 15),
 ('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = 'K-19: The Widowmaker'

In [42]:
paramaunt_company_name = 'Paramount Pictures'


paramaunt_company_profit = {}

for index, row in data.iterrows():
    if paramaunt_company_name in row['production_companies']:
        paramaunt_company_profit[row['original_title']] = row['profit']
            
dictionairy_sort_by_key(paramaunt_company_profit)[0:10]

[('K-19: The Widowmaker', -64831034),
 ('Timeline', -60519261),
 ('Next', -51788987),
 ('Alfie', -46604061),
 ('Twisted', -24805000),
 ('Domestic Disturbance', -20750706),
 ('The Love Guru', -20180936),
 ('A Thousand Words', -17955723),
 ('The Fighter', -15809131),
 ('Abandon', -14280643)]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015'

In [44]:
years_revenue = {}

for index, row in data.iterrows():
    if (row['release_year'] not in years_revenue):
        years_revenue[row['release_year']] = row['revenue']   
    else:
        years_revenue[row['release_year']] += row['revenue']
            
dictionairy_sort_by_key(years_revenue)

[(2000, 10664099805),
 (2001, 13017764865),
 (2002, 14136361487),
 (2003, 14346123312),
 (2006, 14775042320),
 (2005, 15309425558),
 (2004, 15663430720),
 (2007, 18162406801),
 (2008, 18252781990),
 (2009, 20261791024),
 (2010, 21071204961),
 (2011, 22676791872),
 (2012, 23079001687),
 (2013, 23213799791),
 (2014, 23405862953),
 (2015, 25449202382)]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014'

In [46]:
warner_company_name = 'Warner'


warner_company_profit = {}

for index, row in data.iterrows():

    for company in row['production_companies']:

        if re.match(warner_company_name, company):
            if row['release_year'] not in warner_company_profit:
                warner_company_profit[row['release_year']] = row['profit']
            else:
                warner_company_profit[row['release_year']] += row['profit']
            
dictionairy_sort_by_key(warner_company_profit)

[(2000, 452631386),
 (2006, 622332868),
 (2015, 870368348),
 (2002, 1022709901),
 (2012, 1258020056),
 (2001, 1282142579),
 (2005, 1595278228),
 (2004, 1631933725),
 (2013, 1636453400),
 (2009, 1822454136),
 (2003, 1844008221),
 (2011, 1871393682),
 (2010, 1974712985),
 (2008, 2134595031),
 (2007, 2208217007),
 (2014, 2292949646)]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '9'

In [48]:
month_revenue = {}

for index, row in data.iterrows():
    if (row['release_date'].month not in month_revenue):
        month_revenue[row['release_date'].month] = 1 
    else:
        month_revenue[row['release_date'].month] += 1
            
dictionairy_sort_by_key(month_revenue)

[(1, 110),
 (2, 135),
 (5, 140),
 (7, 142),
 (11, 146),
 (6, 147),
 (4, 149),
 (3, 156),
 (8, 161),
 (10, 186),
 (12, 190),
 (9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '450'

In [50]:
summer_films = 0

for index, row in data.iterrows():
    if row['release_date'].month in [6,7,8]:
            summer_films += 1
            
summer_films

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson'

In [52]:
winnter_films = 0

directors_winter_revenue = {}

for index, row in data.iterrows():
    if row['release_date'].month in [12, 1, 2]:
            winnter_films += 1
            
            for director_name in row['director']:
                if director_name not in directors_winter_revenue:
                    directors_winter_revenue[director_name] = row['revenue']        

                else:
                    directors_winter_revenue[director_name] += row['revenue']
            
dictionairy_sort_by_key(directors_winter_revenue)[-9:]

[('Ridley Scott', 792713747),
 ('Francis Lawrence', 815776250),
 ('Martin Scorsese', 982577393),
 ('Nancy Meyers', 1054112800),
 ('Steven Soderbergh', 1123637426),
 ('Clint Eastwood', 1332956751),
 ('J.J. Abrams', 2068178225),
 ('James Cameron', 2781505847),
 ('Peter Jackson', 5473590117)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions'

In [54]:
production_companies_title_length = {}

for index, row in data.iterrows():
    for production_company in row['production_companies']:
        if production_company not in production_companies_title_length:
            production_companies_title_length[production_company] = len(row['original_title'])
        else:
            if production_companies_title_length[production_company] < len(row['original_title']):
                production_companies_title_length[production_company] = len(row['original_title'])
                
        if len(row['original_title']) >= 83:
               print(row['original_title'])
            
dictionairy_sort_by_key(production_companies_title_length)[-9:]

Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan
Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan

[('Virtual Studios', 58),
 ('Warner Bros.', 58),
 ('21 Laps Entertainment', 59),
 ('Jim Henson Company, The', 59),
 ('Walt Disney Pictures', 59),
 ('Walden Media', 62),
 ('Walt Disney', 62),
 ('Four By Two Productions', 83),
 ('Twentieth Century Fox Film Corporation', 83)]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show'

In [56]:
production_companies_overview_sum = {}
production_companies_overview_count = {}

for index, row in data.iterrows():
    for production_company in row['production_companies']:
        if production_company not in production_companies_overview_sum:
            production_companies_overview_sum[production_company] = len(row['overview'])
            production_companies_overview_count[production_company] = 1
        else:
            production_companies_overview_sum[production_company] += len(row['overview'])
            production_companies_overview_count[production_company] += 1
                
#         if len(row['overview']) >= 83:
#                print(row['overview'])
            
# dictionairy_sort_by_key(production_companies_overview_sum)[-9:]

production_companies_overview_sum

companies_my_sum = pd.DataFrame.from_dict(production_companies_overview_sum, 
                           orient='index',
                           columns=['sum'])

# print(companies_my_sum.count)

companies_my_count = pd.DataFrame.from_dict(production_companies_overview_count, 
                           orient='index',
                           columns=['count'])

# print(companies_my_count.count)

result = companies_my_sum.join(companies_my_count)
result

result['mean_length'] = result['sum'] / result['count']


result.query('mean_length >= ' + str(result['mean_length'].max()))

                        sum  count  mean_length
Midnight Picture Show  1000      1       1000.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [58]:
one_procent_of_best = (data['vote_average'].max() / 100) * 99

data.query('vote_average >= ' + str(one_procent_of_best))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825

In [59]:
data.sort_values(by=['vote_average'], ascending=False)[0:10]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",2013-12-25,7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",2014-10-01,7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",2013-10-18,7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",2014-07-30,7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",2003-12-01,7.9,2003,1024888979

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint '

In [60]:
# Daniel Radcliffe & Rupert Grint 
all_actors = {}

for index, row in data.iterrows():
    
    for actor in row['cast']:
        if actor not in all_actors:
            all_actors[actor] = 1
        else:
            all_actors[actor] += 1
    


dictionairy_sort_by_key(all_actors)[-19:]

# Не знаю как решить этот пример

[('George Clooney', 19),
 ('Meryl Streep', 19),
 ('Steve Carell', 19),
 ('Adam Sandler', 20),
 ('Ben Stiller', 20),
 ('Morgan Freeman', 20),
 ('Brad Pitt', 21),
 ('Cameron Diaz', 21),
 ('James Franco', 21),
 ('Jason Statham', 22),
 ('Ewan McGregor', 23),
 ('Johnny Depp', 23),
 ('Mark Wahlberg', 24),
 ('Owen Wilson', 24),
 ('Bruce Willis', 25),
 ('Matt Damon', 26),
 ('Robert De Niro', 26),
 ('Nicolas Cage', 27),
 ('Samuel L. Jackson', 27)]

In [63]:
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360
5,tt1663202,135000000,532950503,The Revenant,"[Leonardo DiCaprio, Tom Hardy, Will Poulter, D...",[Alejandro GonzÃ¡lez IÃ±Ã¡rritu],"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,"[Western, Drama, Adventure, Thriller]","[Regency Enterprises, Appian Way, CatchPlay, A...",2015-12-25,7.2,2015,397950503
6,tt1340138,155000000,440603537,Terminator Genisys,"[Arnold Schwarzenegger, Jason Clarke, Emilia C...",[Alan Taylor],Reset the future,"The year is 2029. John Connor, leader of the r...",125,"[Science Fiction, Action, Thriller, Adventure]","[Paramount Pictures, Skydance Productions]",2015-06-23,5.8,2015,285603537
7,tt3659388,108000000,595380321,The Martian,"[Matt Damon, Jessica Chastain, Kristen Wiig, J...",[Ridley Scott],Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,"[Drama, Adventure, Science Fiction]","[Twentieth Century Fox Film Corporation, Scott...",2015-09-30,7.6,2015,487380321
8,tt2293640,74000000,1156730962,Minions,"[Sandra Bullock, Jon Hamm, Michael Keaton, All...","[Kyle Balda, Pierre Coffin]","Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,"[Family, Animation, Adventure, Comedy]","[Universal Pictures, Illumination Entertainment]",2015-06-17,6.5,2015,1082730962
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609
10,tt2379713,245000000,880674609,Spectre,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, ...",[Sam Mendes],A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,"[Action, Adventure, Crime]","[Columbia Pictures, Danjaq, B24]",2015-10-26,6.2,2015,635674609
11,tt1617661,176000003,183987723,Jupiter Ascending,"[Mila Kunis, Channing Tatum, Sean Bean, Eddie ...","[Lana Wachowski, Lilly Wachowski]",Expand your universe.,In a universe where human genetic material is ...,124,"[Science Fiction, Fantasy, Action, Adventure]","[Village Roadshow Pictures, Dune Entertainment...",2015-02-04,5.2,2015,7987720
12,tt0470752,15000000,36869414,Ex Machina,"[Domhnall Gleeson, Alicia Vikander, Oscar Isaa...",[Alex Garland],There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,"[Drama, Science Fiction]","[DNA Films, Universal Pictures International (...",2015-01-21,7.6,2015,21869414
13,tt2120120,88000000,243637091,Pixels,"[Adam Sandler, Michelle Monaghan, Peter Dinkla...",[Chris Columbus],Game On.,Video game experts are recruited by the milita...,105,"[Action, Comedy, Science Fiction]","[Columbia Pictures, Happy Madison Productions]",2015-07-16,5.8,2015,155637091
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",[Joss Whedon],A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,"[Action, Adventure, Science Fiction]","[Marvel Studios, Prime Focus, Revolution Sun S...",2015-04-22,7.4,2015,1125035767
15,tt3460252,44000000,155760117,The Hateful Eight,"[Samuel L. Jackson, Kurt Russell, Jennifer Jas...",[Quentin Tarantino],No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,"[Crime, Drama, Mystery, Western]","[Double Feature Films, The Weinstein Company, ...",2015-12-25,7.4,2015,111760117
16,tt2446042,48000000,325771424,Taken 3,"[Liam Neeson, Forest Whitaker, Maggie Grace, F...",[Olivier Megaton],It Ends Here,Ex-government operative Bryan Mills finds his ...,109,"[Crime, Action, Thriller]","[Twentieth Century Fox Film Corporation, M6 Fi...",2015-01-01,6.1,2015,277771424
17,tt0478970,130000000,518602163,Ant-Man,"[Paul Rudd, Michael Douglas, Evangeline Lilly,...",[Peyton Reed],Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,"[Science Fiction, Action, Adventure]",[Marvel Studios],2015-07-14,7.0,2015,388602163
18,tt1661199,95000000,542351353,Cinderella,"[Lily James, Cate Blanchett, Richard Madden, H...",[Kenneth Branagh],Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,"[Romance, Fantasy, Family, Drama]","[Walt Disney Pictures, Genre Films, Beagle Pug...",2015-03-12,6.8,2015,447351353
19,tt1951266,160000000,650523427,The Hunger Games: Mockingjay - Part 2,"[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence],The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,"[War, Adventure, Science Fiction]","[Studio Babelsberg, StudioCanal, Lionsgate, Wa...",2015-11-18,6.5,2015,490523427
20,tt1964418,190000000,209035668,Tomorrowland,"[Britt Robertson, George Clooney, Raffey Cassi...",[Brad Bird],Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,"[Action, Family, Science Fiction, Adventure, M...","[Walt Disney Pictures, Babieka, A113]",2015-05-19,6.2,2015,19035668
21,tt1798684,30000000,91709827,Southpaw,"[Jake Gyllenhaal, Rachel McAdams, Forest Whita...",[Antoine Fuqua],Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,"[Action, Drama]","[Escape Artists, Riche-Ludwig Productions]",2015-06-15,7.3,2015,61709827
22,tt2126355,110000000,470490832,San Andreas,"[Dwayne Johnson, Alexandra Daddario, Carla Gug...",[Brad Peyton],"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,"[Action, Drama, Thriller]","[New Line Cinema, Village Roadshow Pictures, W...",2015-05-27,6.1,2015,360490832
23,tt2322441,40000000,569651467,Fifty Shades of Grey,"[Dakota Johnson, Jamie Dornan, Jennifer Ehle, ...",[Sam Taylor-Johnson],Are you curious?,When college senior Anastasia Steele steps in ...,125,"[Drama, Romance]","[Focus Features, Trigger Street Productions, M...",2015-02-11,5.3,2015,529651467
24,tt1596363,28000000,133346506,The Big Short,"[Christian Bale, Steve Carell, Ryan Gosling, B...",[Adam McKay],This is a true story.,The men who made millions from a global econom...,130,"[Comedy, Drama]","[Paramount Pictures, Plan B Entertainment, Reg...",2015-12-11,7.3,2015,105346506
25,tt2381249,150000000,682330139,Mission: Impossible - Rogue Nation,"[Tom Cruise, Jeremy Renner, Simon Pegg, Rebecc...",[Christopher McQuarrie],Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,[Action],"[Paramount Pictures, Skydance Productions, Chi...",2015-07-23,7.1,2015,532330139
26,tt2637276,68000000,215863606,Ted 2,"[Mark Wahlberg, Seth MacFarlane, Amanda Seyfri...",[Seth MacFarlane],"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,[Comedy],"[Universal Pictures, Media Rights Capital, Fuz...",2015-06-25,6.3,2015,147863606
27,tt2802144,81000000,403802136,Kingsman: The Secret Service,"[Taron Egerton, Colin Firth, Samuel L. Jackson...",[Matthew Vaughn],Manners maketh man.,The story of a super-secret spy organization t...,130,"[Crime, Comedy, Action, Adventure]","[Twentieth Century Fox Film Corporation, Marv ...",2015-01-24,7.6,2015,322802136
28,tt1895587,20000000,88346473,Spotlight,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,"[Drama, Thriller, History]","[Participant Media, Open Road Films, Anonymous...",2015-11-06,7.8,2015,68346473
29,tt4046784,61000000,311256926,Maze Runner: The Scorch Trials,"[Dylan O'Brien, Kaya Scodelario, Thomas Brodie...",[Wes Ball],The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,"[Action, Science Fiction, Thriller]","[Gotham Group, Temple Hill Entertainment, TSG ...",2015-09-09,6.4,2015,250256926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,tt0134084,40000000,161834276,Scream 3,"[David Arquette, Neve Campbell, Courteney Cox,...",[Wes Craven],Someone has taken their love of trilogies one ...,"A murdering spree begins to happen again, this...",116,"[Horror, Mystery]","[Konrad Pictures, Craven-Maddalena Films, Dime...",2000-02-03,5.6,2000,121834276
1860,tt0190865,75000000,215663859,Vertical Limit,"[Chris O'Donnell, Robin Tunney, Bill Paxton, S...",[Martin Campbell],The Mountain Will Decide.,"Trapped near the summit of K2, the world's sec...",124,"[Action, Adventure, Thriller]","[Columbia Pictures Corporation, Global Enterta...",2000-12-08,6.0,2000,140663859
1861,tt0184858,42000000,32168970,Reindeer Games,"[Ben Affleck, Gary Sinise, Charlize Theron, De...",[John Frankenheimer],The trap is set. The game is on.,After assuming his dead cellmate's identity to...,124,[Thriller],"[Dimension Films, Marty Katz Productions]",2000-02-25,5.2,2000,-9831030
1862,tt0195945,11000000,59827328,Next Friday,"[Ice Cube, Mike Epps, Justin Pierce, John With...",[Steve Carr],The suburbs make the hood look good.,"Ice Cube returns as Craig Jones, a streetwise ...",98,[Comedy],[New Line Cinema],2000-01-12,6.6,2000,48827328
1863,tt0219653,28000000,33000337,Dracula 2000,"[Gerard Butler, Christopher Plummer, Jonny Lee...",[Patrick Lussier],The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,"[Horror, Thriller]","[Neo Art & Logic, Dimension Films, Wes Craven ...",2000-12-22,4.7,2000,5000337
1864,tt0203019,32000000,48814909,Men of Honor,"[Robert De Niro, Cuba Gooding Jr., Charlize Th...","[George Tillman, Jr.]",History is made by those who break the rules.,Against formidable odds -- and an old-school d...,129,[Drama],[Fox 2000 Pictures],2000-09-13,7.0,2000,16814909
1865,tt0161081,100000000,155464351,What Lies Beneath,"[Harrison Ford, Michelle Pfeiffer, Diana Scarw...",[Robert Zemeckis],He was the perfect husband until his one mista...,When Claire Spencer starts hearing ghostly voi...,130,"[Drama, Horror, Mystery, Thriller]","[DreamWorks SKG, Twentieth Century Fox Film Co...",2000-07-21,6.1,2000,55464351
1866,tt0160797,60000000,71000000,Rules of Engagement,"[Tommy Lee Jones, Samuel L. Jackson, Guy Pearc...",[William Friedkin],A hero should never have to stand alone.,"Part war movie, part courtroom thriller, this ...",128,"[Action, Adventure, Drama, History, War]","[Paramount Pictures, Seven Arts Pictures, Muni...",2000-04-07,5.8,2000,11000000
1867,tt0181536,43000000,80049764,Finding Forrester,"[Sean Connery, Rob Brown, F. Murray Abraham, A...",[Gus Van Sant],"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,[Drama],"[Fountainbridge Films, Laurence Mark Productio...",2000-12-21,6.9,2000,37049764
1868,tt0204175,16000000,20627372,Boys and Girls,"[Freddie Prinze Jr., Claire Forlani, Jason Big...",[Robert Iscove],Warning: Sex Changes Everything,Ryan and Jennifer are opposites who definitely...,94,"[Comedy, Drama, Romance]",[Dimension Films],2000-06-16,5.3,2000,4627372
1869,tt0211181,85000000,183611771,102 Dalmatians,"[Glenn Close, Ioan Gruffudd, Alice Evans, Tim ...",[Kevin Lima],Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,"[Comedy, Family]","[Walt Disney Pictures, Cruella Productions]",2000-10-07,5.0,2000,98611771
1870,tt0144528,84000000,123307945,Nutty Professor II: The Klumps,"[Eddie Murphy, Janet Jackson, Larry Miller, Jo...",[Peter Segal],The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,"[Fantasy, Comedy, Romance, Science Fiction]","[Imagine Entertainment, Universal Pictures]",2000-07-27,4.8,2000,39307945
1871,tt0171433,30000000,37036004,Keeping the Faith,"[Ben Stiller, Edward Norton, Jenna Elfman, Ann...",[Edward Norton],"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,[Comedy],"[Spyglass Entertainment, Touchstone Pictures, ...",2000-04-14,5.7,2000,7036004
1872,tt0134983,90000000,14828081,Supernova,"[James Spader, Angela Bassett, Robert Forster,...","[Walter Hill, Jack Sholder]","In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,[Science Fiction],"[United Artists, Metro-Goldwyn-Mayer (MGM), Ha...",2000-01-14,4.7,2000,-75171919
1873,tt0160009,40000000,30199105,The Art of War,"[Wesley Snipes, Donald Sutherland, Maury Chayk...",[Christian Duguay],Who is your foe?,When ruthless terrorists threaten to bring dow...,117,"[Action, Adventure, Thriller]","[Amen Ra Films, Franchise Pictures, Warner Bro...",2000-08-23,5.7,2000,-9800895
1874,tt0202402,15000000,9902115,Whatever It Takes,"[Jodi Lyn O'Keefe, Shane West, Marla Sokoloff,...",[David Raynr],How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,"[Drama, Comedy, Romance]",[Columbia Pictures Corporation],2000-03-31,5.0,2000,-5097885
1875,tt0219854,65000000,69700000,The Kid,"[Bruce Willis, Spencer Breslin, Emily Mortimer...",[Jon Turteltaub],Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,"[Fantasy, Comedy, Family]",[Walt Disney Pictures],2000-07-07,5.9,2000,4700000
1876,tt0144964,25000000,15843608,Highlander: Endgame,"[Christopher Lambert, Bruce Payne, Adrian Paul...",[Douglas Aarniokoski],It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,"[Action, Fantasy, Science Fiction]","[Davis-Panzer Productions, Dimension Films]",2000-09-01,4.3,2000,-9156392
1877,tt0199725,20000000,27728118,Love & Basketball,"[Chris Warren, Jr., Kyla Pratt, Sanaa Lathan, ...",[Gina Prince-Bythewood],All's fair in love and basketball.,A young African-American couple navigates the ...,124,"[Action, Comedy, Drama, Romance]",[40 Acres & A Mule Filmworks],2000-04-21,7.3,2000,7728118
1878,tt0176783,14000000,5108820,Gossip,"[Joshua Jackson, James Marsden, Kate Hudson, L...",[Davis Guggenheim],"It can turn you on, or turn on you.","On a beautiful college campus, something ugly ...",90,"[Drama, Mystery, Thriller]",[Warner Bros. Pictures],2000-04-21,5.3,2000,-8891180
1879,tt0180073,13500000,7060876,Quills,"[Geoffrey Rush, Kate Winslet, Joaquin Phoenix,...",[Philip Kaufman],There are no bad words... only bad deeds.,"A nobleman with a literary flair, the Marquis ...",124,[Drama],"[Fox Searchlight Pictures, Industry Entertainm...",2000-11-22,6.4,2000,-6439124
1880,tt0190374,35000000,15185241,Dungeons & Dragons,"[Justin Whalin, Jeremy Irons, Thora Birch, Bru...",[Courtney Solomon],This is no game.,The classic role-playing game comes to life in...,107,"[Action, Adventure, Fantasy, Science Fiction]","[New Line Cinema, Silver Pictures, Sweetpea En...",2000-12-08,3.9,2000,-19814759
1881,tt0213790,24000000,13700000,The Ladies Man,"[Tim Meadows, Karyn Parsons, Billy Dee William...",[Reginald Hudlin],He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,[Comedy],[SNL Studios],2000-10-13,5.4,2000,-10300000
1882,tt0217756,24000000,12372410,Ready to Rumble,"[David Arquette, Scott Caan, Oliver Platt, Ros...",[Brian Robbins],They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,"[Action, Comedy, Drama]","[Bel Air Entertainment, Warner Bros.]",2000-04-07,4.4,2000,-11627590
1883,tt0122459,24000000,36609995,Return to Me,"[David Duchovny, Minnie Driver, Carroll O'Conn...",[Bonnie Hunt],A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,"[Romance, Comedy, Drama]","[Metro-Goldwyn-Mayer (MGM), JLT Productions]",2000-04-07,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",[Bryan Singer],Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,"[Adventure, Action, Science Fiction]","[Twentieth Century Fox Film Corporation, Donne...",2000-07-13,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[Uli Edel],"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",[New Line Cinema],2000-10-27,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",[Des McAnuff],This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,"[Adventure, Animation, Action, Comedy, Family]","[Universal Pictures, Capella International, KC...",2000-06-30,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...",[Diane Keaton],Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,"[Comedy, Drama]","[Laurence Mark Productions, Columbia Pictures ...",2000-02-16,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",[Mary Lambert],What would you do to get in?,A mentally disturbed young woman takes a job a...,105,[Thriller],[Warner Bros. Pictures],2000-07-19,5.2,2000,-9782502

ВАРИАНТ 2

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

26